@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+HK:wght@400;700&family=Noto+Sans+JP:wght@400;700&family=Noto+Sans+KR:wght@400;700&family=Noto+Sans+SC:wght@400;700&family=Noto+Sans+TC:wght@400;700&display=swap');

@font-face {
    font-family: 'Noto Sans JP Punct';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/notosansjp/v52/-F62fjtqLzI2JPCgQBnw7HFowwII2lcnk-AFfrgQrvWXpdFg3KXxAMsKMbdN.119.woff2) format('woff2');
    unicode-range: U+2027, U+3001-3002, U+ff0c, U+ff0e;
}

body {
    font-family: 'Noto Sans JP Punct', 'Noto Sans HK', 'Noto Sans TC', 'Noto Sans JP', 'Noto Sans KR', 'Noto Sans SC', sans-serif;
    font-size: 1.2em;
    writing-mode: vertical-rl;
}

.vertical {
    writing-mode: vertical-rl;
    text-orientation: upright;
}

.horizontal {
    writing-mode: horizontal-tb;
}

#navwrapper {
    writing-mode: horizontal-tb;
}

nav.top-bar {
    position: fixed;
    width: 100%;
}

#page-content {
    margin-top: 4em;
}

#page-content > .row {
    height: 45em;
    max-height: 75vh;
    max-width: revert;
}

#page-content > .row > * {
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: revert;
}

p {
    font-size: 1em;
}

h1 {
    font-size: 2.125em
}

h2 {
    font-size: 1.6875em
}

h3 {
    font-size: 1.375em
}

h4 {
    font-size: 1.125em
}

h5 {
    font-size: 1.125em
}

h6 {
    font-size: 1em
}

img {
    max-height: 100%;
    width: auto;
}

table {
    height: 100%;
    max-height: 100%;
    width: auto;
}

figure.mw-halign-right {
    float: right;
}

figure.mw-halign-left {
    float: left;
}
